

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
    
   
</head>
<body>
    <a href="{% url 'create-emp-page' %}">Create employee</a>
    <a href="{% url 'create-device-page' %}">Create device</a>


    <h1>Logs:</h1>
        <table>
            <th>device</th>
            <th>employee </th>
            <th>check_out</th>
            <th>check_in</th>
            <th>out_condition</th>
            <th>in_condition</th>
            {% for entry in device_log %}
            <tr>
                <td>{{ entry.device }}</td>
                <td>{{ entry.employee }}</td>
                <td>{{ entry.check_out}}</td>
                <td>{{ entry.check_in }}</td>
                <td>{{ entry.out_condition }}</td>
                <td>{{ entry.in_condition }}</td>
            </tr>
            {% endfor %}
        </table>
        
        <li>{{ entry }}</li>
        
    
    
</body>
</html>